* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #9e4b9e;
  --text-primary: #000;
  --text-secondary: #8e05c2;
  --accent: #9aeefc;
  --border: #333;
  --form-bg: #f4c4ff;
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #f4c4ff;
  --text-secondary: #8e05c2;
  --accent: #9e4b9e;
  --border: #9aeefc;
  --form-bg: #333;
}
